@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background: url("images/shapes.png") 0.1em 7em, url("images/header.png");
  background-repeat: no-repeat, repeat;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

h1 {
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  position: relative;
  bottom: -35px;
  margin-top: -4px;
}

p#one {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  position: relative;
  bottom: -15px;
}

p#two {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 0;
  position: relative;
  bottom: -20px;
}

section.Headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 22px;
  gap: 12px;
  position: absolute;
  width: 327px;
  height: 150px;
  top: 114px;
  left: 24px;
}

li {
  display: inline;
}

li i {
  float: right;
}

.menu li {
  width: 3em;
  height: -1em;
  background: black;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.hamburger {
  display: block;
}

.bar {
  display: block;
  height: 3px;
  width: 20px;
  background-color: #6070ff;
  margin: 3px;
}

.icons>a {
  padding: 0 0.4em;
}

.icons {
  margin-left: -3em;
}

.menu a {
  color: #6070ff;
  font-weight: 700;
  margin-left: 1rem;
  line-height: 20px;
  font-size: 18px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.social-media {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 40px;
}

.navigation {
  margin-top: 45px;
}

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: var(--clr-white);
  border: 1px solid #eaeff1;
  border-bottom-left-radius: 5rem;
  box-shadow: 0 10px 10px -10px rgba(83, 81, 81, 0.15);
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: var(--clr-white);
  border: 1px solid #dfe1e6;
  padding: 1rem;
  gap: 12px;
  border-radius: 1rem;
  margin: 2rem 2rem 0 2rem;
  box-shadow: 8px 8px 10px -10px rgb(209, 204, 204);
  margin-top: 800px;
}

.card-block h2 {
  max-width: 400px;
  font-size: 3.5rem;
  line-height: 65px;
  font-weight: 700;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  margin: 0px;
}

.card-frame .no-count {
  list-style: none;
  color: var(--clr-para);
  font-weight: 600;
  margin-left: 0;
}

.card-frame li {
  margin: 5px;
  font-size: 14px;
  color: #7a869a;
}
}

.card-frame {
  display: flex;
  gap: 0.8rem;
  padding: 0;
  margin-bottom: 0.5rem;
}

.card-tags {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 1rem 0;
}

.card-tags li {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  background-color: #ebebff;
  color: var(--clr-purple);
  padding: 4px 12px;
  border-radius: 8px;
  font-size: 0.75rem;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.03rem;
}

.card-button {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 12px;
  border: 1px solid var(--clr-purple);
  border-radius: 8px;
  color: var(--clr-purple);
  background-color: transparent;
  letter-spacing: 0.03rem;
  font-size: 17px;
  width: max-content;
}