@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background: url("images/shapes.png") 0.1em 7em, url("images/header.png");
  background-repeat: no-repeat, repeat;
}

h1 {
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  position: relative;
  bottom: -35px;
}

p#one {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  position: relative;
  bottom: -20px;
}

p#two {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 0;
  position: relative;
  bottom: -20px;
}

section.Headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 22px;
  gap: 12px;
  position: absolute;
  width: 327px;
  height: 150px;
  top: 114px;
  left: 24px;
}

li {
  display: inline;
}

li i {
  float: right;
}


.menu li {
  width: 3em;
  height: 1em;
  background: black;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.hamburger {
  display: block;
}

.bar {
  display: block;
  height: 3px;
  width: 20px;
  background-color: #6070ff;
  margin: 3px;
}

.icons > a {
  padding: 0 0.4em;
}

.icons {
  margin-left: -3em;
}

.menu a {
  color: #6070ff;
  font-weight: 700;
  margin-left: 1rem;
  font-size: 18px;
  text-decoration: none;
}

.social-media {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 40px;
}